<!DOCTYPE html>
<html>
<head>
	<title>PS PasteBin</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	<h1>PS</h1>

    <form action="/add" method="post">
        <label for="name">Paste Name:</label><br>
        <input type="text" id="name" name="name" maxlength="12" required><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content" rows="4" cols="50"></textarea><br>
        <label for="TTL">Expiration time:</label><br>
        <select id="TTL" name="TTL">
			<option value="60">1 min</option>
			<option value="300">5 min</option>
			<option value="600">10 min</option>
			<option value="1800">30 min</option>
			<option value="3600">1 hour</option>
            <option value="10800">3 hours</option>
            <option value="21600">6 hours</option>
            <option value="43200">12 hours</option>
            <option value="86400">1 day</option>
            <option value="604800">7 days</option>
            <option value="1209600">14 days</option>
            <option value="2592000">1 month</option>
            <option value="7776000">3 months</option>
            <option value="15552000">6 months</option>
            <option value="31536000" selected>1 year</option>
            <option value="31536000000">999 years</option>
		</select><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
